
body {
    padding: 0 !important;
    overflow:visible!important;
}
.results-wrapper{
    margin-top:30px;
}

.event-result-wrapper{
    background: rgb(252, 252, 252);
    float: left;
    width: 31%;
    border: 2px solid lightgray;
    margin: 0 1%;
    position: relative;
    margin-bottom: 20px;
    min-height:550px;

}
.header-title{
    margin-top:30px;
    margin-bottom:20px;
    font-size:2rem;
}


.event-result-body{
    padding:15px 20px;
}

.event-result-wrapper .count{
    font-size: 2rem;
    padding: 0;
    height: 100%;
    background: lightgray;
    width: 65px;
    display: block;
    line-height: 50px;
    vertical-align: middle;
}

.event-result-header{
    width: 100%;
    position:relative;
    border-bottom: 3px solid lightgray;
    z-index:10;
    display: flex;
    flex-wrap: wrap;
}

.restaurant-list{
    width:40%;float:left;font-weight:bold;font-size:14px;margin-bottom:3px;
    max-height: 85px;
    overflow-y: auto;
}

.member-list{
    width:100%;
    overflow-y: auto;
    font-size:14px;
    margin-bottom:10px;
}

.placed{
    color: green;
    line-height: 50px;
    margin: auto;
}


.day-time{
    font-weight:bold;font-size:16px;
}

.unplaced-members{
    margin-bottom: 20px;
}

.header-text{
    width:98%;float:left;clear:both;text-align:center;font-size:30px;background:#333333;padding:1%;margin:20px 0px;color:whitesmoke;
}
.unplaced-members-title{
    font-weight:bold;
}
.unplaced-members-wrapper{
    margin: auto;
    margin-top:25px;
    font-size: .9rem;
}
.placed{
    font-weight: bold;
}
.met-others-count{
    font-size:.8em;
}

.modal{
    top: 20%!important;
}
.modal-title{
    padding: 15px;
    padding-bottom: 0;
    font-size: 1.3rem!important;
}
.modal-body{
    padding-top: 0.4rem;
}

.loading-modal{
    top:20%!important;
    width:700px;
    height: 200px;
    line-height:200px;
    font-size:50px;
    text-align: center;

}
.loading-modal .modal-content{
    background: whitesmoke;
}
.modal-content{
    border: 2px solid #eaeaea!important
}
.modal-backdrop.show{
    opacity:0!important;
}


.form-group{
    width:300px;
    display:inline-block;
}
.form-control{
    width: 50px!important;
    margin: auto;
}
#submit{
    display: block;
    margin: auto;
}